* {
    box-sizing: border-box; /* Allows adding padding to flexbox items with flex-basis*/
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth; /* Desktop-only smooth scrolling behavoir */
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #121212;
    color: white;
}

h1, h2, h3, h4, h5 h6 {
    font-family: 'Recursive', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 28px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Prevent links from having the blue highlight styling */
a {
    color:inherit;
    text-decoration: inherit;
}