.headline {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
    text-align: center;
}

.headline_prefix {
    margin-right: 10px;
}

.education_header {
    text-align: center;
    margin: 40px 0 10px 0;
}

@media (min-width: 768px) {
    .headline {
        justify-content: flex-start;
        text-align: left;
    }

    .education_header {
        text-align: left;
    }
}