.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card_wrapper {
    transition: all 200ms; /* Add an animation for when the card becomes visible */
    width: 500px;
    padding: 10px;
}

/* "hidden" project/post stylings */
.hidden_card {
    transform: scale(0);
    height: 0;
    width: 0;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.show_more_button_container {
    width: 100%;
    text-align: center;
}

.show_more_button {
    padding: 10px 20px;
    background-color: #2A2A2A;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans', sans-serifs;
    font-size: 16px;
    transition: all 200ms;
    margin: 20px 0;
}

.show_more_button:hover {
    background-color: #424242;
    transform: scale(1.05);
    cursor: pointer;
}

.hidden_button {
    display: none;
}

@media (min-width: 768px) {
    .card_wrapper {
        width: 50%;    /* 2-tile the cards when the screen is wide enough */
    }

    .container {
        justify-content: flex-start; /* left-justify the cards (if there is an odd number */
    }
}