.container {
    background: #2A2A2A;
    border-radius: 4px;
    transition: all 200ms;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.container:hover {
    transform: translateY(-5px);
    background: #424242;
    cursor: default;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: flex-start;
}

.header h2 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    flex-grow: 1; /* This element grows to fill up space */
    margin: 0;
}

.thumbnail_container {
    padding: 0 10px;
    flex-shrink: 0;  /* This element will not become smaller for long names */
}

.container h3 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color:#C0C0C0;
    margin: 8px 0;
}

.date_container {
    margin: 0;
    font-size: 14px;
    color: #C0C0C0;
}

.date_container i {
    margin-right: 8px;
}