.container {
    max-width: 576px;
    padding: 110px 20px;
    margin: 0 auto;         /* Center the content */
}

@media (min-width: 768px) {
    .container {
        padding: 110px 30px;
        max-width: 768px;       /* Just constrain the container to a max width */
    }
}