.card_constraints {
    max-width: 500px;
    padding: 10px;
}

.container_constraints {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

@media (min-width: 768px) {
    .card_constraints {
        width: 50%;
    }

    .container_constraints {
        justify-content: flex-start;
    }
}