.container {
    transition: all 200ms;
    padding: 15px;
    border-radius: 4px;
    background-color: #323232;
    height: 100%
}

.container:hover {
    background-color: #424242;
    transform: translateY(-5px);
    cursor: pointer;
}

.title_wrapper {
    height: 66px;
    display: flex;
    align-items: center;
}

.container h2 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.description {
    margin: 0;
}

.date_container {
    margin: 8px 0;
    font-size: 14px;
    color: #C0C0C0;
}

.date_container i {
    margin-right: 8px;
}
