.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.container h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    margin: 0;
    width: 100%;
}

.date_container {
    font-size: 20px;
    color: #C0C0C0;
    margin: 10px 0 0;
}

.date_container i {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .container {
        text-align: left;
        justify-content: flex-start;
    }
}