.container {
    background: #2A2A2A;
    border-radius: 4px;
    transition: all 200ms;
    padding: 15px;
}

.container:hover {
    /* transform: scale(1.00); */
    transform: translateY(-5px);
    background: #383838;
    cursor: pointer;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header h2 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    flex-grow: 1; /* This element grows to fill up space */
    margin: 0;
}

.thumbnail_container {
    padding: 0 10px;
    flex-shrink: 0;  /* This element will not become smaller for long names */
}

.container p {
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0;
}

.tag_container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    margin: 0 -5px -5px 0;
}

.tag_container span {
    margin: 0 5px 5px 0;
    padding: 5px;
    background-color: #0bb5ff;
    border-radius: 4px;
    transition: all 200ms;
    color: #2a2a2a;
}

/* Increase brightness of tag when project card is hovered so thye are still visible */
.container:hover div.tag_container span {
    background-color: #1ebbff;
}

@media (min-width: 576px) {
    /* Left align project title */
    .info_container h2 {
        text-align: left !important;
    }
}