.outer_container {
    position: relative;    /* Necessary to place project links absolute within this container */
    background: #2A2A2A;
    border-radius: 10px;
    transition: all 200ms;
    margin: 20px 0;
}

.outer_container:hover {
    transform: scale(1.02);
    background: #424242;
    cursor: pointer;
}

.inner_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.thumbnail_container {
    flex-basis: 100%; /* Take up the full width of the card for small screens */
    max-width: 200px; /* Restrict size of the thumbnails so they aren't absurd */
    padding: 20px;
}

/* thumbnail takes up all available space */
.thumbnail_container img {
    width: 100%;
}

.info_container {
    padding: 10px;
}

.info_container h2 {
    font-size: 28px;
    margin-top: 0;
    text-align: center; /* Center name of the project for small screens */
}

.tag_container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.tag_container span {
    margin: 5px;
    padding: 5px;
    background-color: #424242;
    border-radius: 5px;
    transition: all 200ms;
}

/* Increase brightness of tag when project card is hovered so thye are still visible */
.outer_container:hover .tag_container span {
    background-color: #626262;
}

.links_container {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.links_container a {
    padding: 5px;
    font-size: 24px;
}

.links_container a i {
    transition: all 200ms;
}

.links_container a:hover i {
    transform: scale(1.15);
}

@media (min-width: 576px) {
    /* Stack thumbnail and description */
    .thumbnail_container {
        flex-basis: 33%;
        max-width: 33% !important;
    }

    .info_container {
        flex-basis: 67%;
        max-width: 67%;
    }

    /* Left align project title */
    .info_container h2 {
        text-align: left !important;
    }
}