.container {
    display: flex;
    justify-content: center;
}

.title {
    color: #0BB5FF;
    display: none; /*Hide by default, make visible with active class */
}

.title.active {
    display:block;
    animation: cycleText 2500ms linear infinite 0s;
}

@media (min-width: 768px) {
    .container {
        justify-content: flex-start !important;
    }
}

/* Definition of the animation for cycling titles */
@keyframes cycleText {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    20% {
        opacity: 1;
        transform: translateY(0px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}