/* Defines styling that are used across all pages */

/*******************
 * Full-page styles 
 *******************/

* {
    box-sizing: border-box; /* Allows adding padding to flexbox items with flex-basis*/
}

html {
    scroll-behavior: smooth; /* Desktop-only smooth scrolling behavoir */
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #121212;
    color: white;
}

h1, h2, h3, h4, h5 h6 {
    font-family: 'Recursive', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Prevent links from having the blue highlight styling */
a {
    color:inherit;
    text-decoration: inherit;
}

/*******************
 * Nav bar styles
 *******************/

 /* Note: these styles are mobile-first! (media queries later define behavoir for larger screens) */

header {
    position: fixed; /* Keeps the bar ar the top */
    top: 0;
    width: 100%;
    background-color: #2A2A2A;
    z-index: 99; /* Keeps the bar above everything else on the page (specifically the scrolling titles) */
}

nav {
    margin: 0;
    max-width: 100%;
    padding: 0;
    max-height: 0; /* max-height allows for animations to make the menu grow */
    overflow: hidden; /* Hide all the menu items by default */
    transition: all 500ms;
}

/* Defines change when the nav bar is opened on mobile devices */
nav.open {
    /* TODO: find a JS way to determine the appropriate height, probably with 
     * similar strategies to the cycling title size determination */

    max-height: 163px; /* This is computed manually, simplest pure-CSS method */
}

.nav-item h2 {
    padding: 10px 20px;
    color: #A0A0A0;
    transition: all 200ms;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.nav-item h2:hover {
    background-color: #424242;
    color: white;
    /* cursor: pointer; */
}

.nav-item.active h2 {
    color:white;
}

#primary-nav-partition {
    width: 100%;
    display: inline-block;
}

#primary-nav-partition h1 {
    display: inline-block;
    padding: 0 20px;
    margin: 10px 0;
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

#nav-hamburger {
    display: block;
    float:right;
    padding: 20px 20px;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    height: 4px;
    border-radius: 1px;
    background-color: white !important;
}

/* Responsive menu items: displays full menu for sufficently wide screens */

@media (min-width: 768px) {
    /* Show all menu items when the screen is large enough*/
    nav {
        display: inline-flex !important;
        width: auto !important;
        max-height: none;
        vertical-align: super; /* Gets everything centered */
    }

    .nav-item h2 {
        padding: 21px 20px;
    }

    /* Hide the little menu icon*/
    #nav-hamburger {
        display: none !important;
    }

    #primary-nav-partition {
        width: auto;
        padding-right: 20px;
    }
}

/***************
 * Footer Styles
 ***************/

footer {
    text-align: center;
    margin: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}