/* Defines the styles for the main page */

/****************
 * General Styles
 ****************/

/* Used to restrict the width of the flexbox items */
main {
    max-width: 100%;
    padding: 45px 30px;
    margin: 0 auto;
}

/* TODO: can we define a font-size for each header type somewhere? Or does it change? */
main h1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0
}

/* Center the content of each section */
section {
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-left: -15px; /* Negative margin accounts for the positive padding on section partitions */
    margin-right: -15px;
}

/* By default, the left and right parts of each section stack on top of one another */
.section-partition {
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* By default, center the left section headers when the screen is small */
/* TODO: consider adding padding to this element to get the spacing between sections back */
.left-section-partition {
    text-align: center;
}

/* "hidden" project/post stylings */
.hidden {
    /* padding: 0 !important; */
    transform: scale(0);
    height: 0;
    width: 0;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    /* max-height: 0; */
    /* max-width: 0; */
    /* overflow: hidden; */
}

/* Responsive adjustments to general structure */
/* Increases maximum width of the sections, and controls stacked/side-by-side format */
@media (min-width: 576px) {
    /* Step up maximum width of the content */
    main {
        max-width: 576px;
    }

    .left-section-partition {
        text-align: left;
    }
}

@media (min-width: 768px) {
    main {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    main {
        max-width: 992px;
    }

    /* For tablets and small desktops, sections sit side by side instead of stacking */
    .left-section-partition {
        max-width: 33%;
        flex-grow: 1;
    }

    .right-section-partition {
        max-width: 67%;
        flex-grow: 2;
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}

/**********************
 * About Section Styles
 **********************/

 /* Ensure some sapce under the "my resume" section when the partitions are stacked */
#about-section .left-section-partition {
    margin-bottom: 20px;
}

/* Picture styles */

/* Center the picture */
#primary-picture-container {
    text-align: center;
}

#primary-picture {
    max-width: 100%;   /* max-width and max-height like this limits the size and maintains aspect ratio */
    max-height: 280px;
    object-fit: cover;
    object-position: -90% 0%;
    border-radius:50%;
}

/* Contact button styles */

#contact-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; /* Center the contact cards under the picture */
    align-items: center;
    margin: 10px 0;
}

#contact-container i {
    display: flex;            /* Using flexbox for the icon allows for easy centering */
    align-items: center;
    justify-content: center;
    margin: 0 3.5px;
    font-size: 26px;
}

.contact-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #323232;
    transition: all 200ms;
}

/* Make the buttons larger on hover, consistent with other parts of the UI */
.contact-button:hover {
    transform: scale(1.08);
}

/* Hover styles for all the contact buttons */
#mail-contact:hover {
    background-color: #e74c3c;
}

#linkedin-contact:hover {
    background-color: #0072b1;
} 

#github-contact:hover {
    color: #323232;
    background-color: white;
}

#kaggle-contact:hover {
    background-color: #31C1FF;
}

#gitlab-contact:hover {
    background-color: #fca326;
}

/* Resume download styles */

#resume-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    transition: all 200ms;
}

/* Scale download button on hover, consistent with rest of the UI */
#resume-container:hover {
    color: #0bb5ff;
    transform: scale(1.05);
}

#resume-container .fa-download {
    padding-left: 10px;
}

/* Scrolling title styles */
/* Note: changes to classes are performed with JS */

#headline {
    display: flex;     /* Use flex box to keep the prefix and the title separate */
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center; /* Center this for small screens (left align later) */
    text-align: center;
}

#headline-prefix {
    margin-right: 10px;
}

#title-scroller {
    display: flex;
    justify-content: center;
}

.title {
    color: #0BB5FF;
    display: none; /* Hide by default, make visible with active class */
}

.title.active {
    display: block;
    animation: cycleText 2500ms linear infinite 0s;
}

/* Definition of the animation for cycling titles */
@keyframes cycleText {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    20% {
        opacity: 1;
        transform: translateY(0px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}

/* Education section styles */

#education-container {
    margin: 40px 0;
    text-align: center;
}

#education-container h2 {
    font-size: 28px;
}

/* An embarrassingly large amount of styling to get the hat next to the description */
/* Probably just me overusing flexbox :) */
.education-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.education-left {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.education-right {
    flex-grow: 100; /* large flex-gorw relatvei to left partition makes only this one grow */
}

.education-left .fa-graduation-cap {
    font-size: 30px;
    margin: 10px;
}

.education-right h3 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
}

.education-right h4 {
    margin: 0;
    color: #A0A0A0;
    font-size: 20px;
}

/*  Responsive adjustments to about section */
@media (min-width: 576px) {
    /* Left align the scrolling titles */
    #headline {
        justify-content: flex-start !important;
        text-align: left !important;
    }

    #title-scroller {
        justify-content: flex-start !important;
    }

    /* Left align all the education information */
    #education-container {
        text-align: left !important;
    }
}

/**************************
 * Portfolio Section Styles
 **************************/

.outer-project-container {
    position: relative;    /* Necessary to place project links absolute within this container */
    background: #2A2A2A;
    border-radius: 10px;
    transition: all 200ms;
    margin: 20px 0;
}

.outer-project-container:hover {
    transform: scale(1.02);
    background: #424242;
    cursor: pointer;
}

.inner-project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-thumbnail-container {
    flex-basis: 100%; /* Take up the full width of the card for small screens */
    max-width: 200px; /* Restrict size of the thumbnails so they aren't absurd */
    padding: 20px;
}

/* thumbnail takes up all available space */
.project-thumbnail {
    width: 100%;
}

.project-info-container {
    padding: 10px;
}

.project-info-container h2 {
    font-size: 28px;
    margin-top: 0;
    text-align: center; /* Center name of the project for small screens */
}

.project-tag-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

.project-tag {
    margin: 5px;
    padding: 5px;
    background-color: #424242;
    border-radius: 5px;
    transition: all 200ms;
}

/* Increase brightness of tag when project card is hovered so thye are still visible */
.outer-project-container:hover .project-tag {
    background-color: #626262;
}

.project-links {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.project-links a {
    padding: 5px;
    font-size: 24px;
}

.project-links a i {
    transition: all 200ms;
}

.project-links a:hover i {
    transform: scale(1.15);
}

/* Show more  button styling */
.show-more-button-container {
    width: 100%;
    text-align: center;
}

.show-more-button {
    padding: 10px 20px;
    background-color: #2A2A2A;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    transition: all 200ms;
    margin: 20px 0;
}

.show-more-button:hover {
    background-color: #424242;
    transform: scale(1.05);
    cursor: pointer;
}

/* Responsive adjustments to the projects section */
@media (min-width: 576px) {
    /* Stack thumbnail and description */

    .project-thumbnail-container {
        flex-basis: 33%;
        max-width: 33% !important;
    }

    .project-info-container {
        flex-basis: 67%;
        max-width: 67%;
    }

    /* Left align project title */
    .project-info-container h2 {
        text-align: left !important;
    }
}

/**********************
 * Posts Section Styles
 **********************/

.post-title {
    margin-top: 0;
    margin-bottom: 5px;
}

.post-description {
    margin: 0;
}

.post-container {
    transition: all 200ms;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #323232;
}

.post-container:hover {
    background-color: #525252;
    transform: scale(1.02);
    cursor: pointer;
}

.post-date-container .fa-calendar {
    margin-right: 5px;
}

.post-date-container {
    margin-top: 0;
    font-size: 14px;
}

/***************
 * Footer Styles
 ***************/

footer {
    text-align: center;
    margin: 20px 0;
}
